<div id="select">
    <div class="filter">
        <a href="/listing/Trending/filter">
            <i class="ri-fire-line"></i>    
            <h5>Trending</h5>
        </a>
        <a href="/listing/Summer/filter">
            <i class="ri-sun-line"></i>
            <h5>Summer</h5></a>
        <a href="/listing/Luxe/filter">
            <i class="ri-vip-crown-line"></i>
            <h5>Luxe</h5></a>
        <a href="/listing/Amazing view/filter">
            <i class="ri-landscape-line"></i>
            <h5>Amazing View</h5></a>
        <a href="/listing/Island/filter">
            <i class="ri-ship-line"></i>
            <h5>Island</h5>
        </a>
        <a href="/listing/Boats/filter">
            <i class="ri-sailboat-line"></i>
            <h5>Boats</h5>
        </a>
        <a href="/listing/Cabins/filter">
            <i class="ri-flood-line"></i>
            <h5>Cabins</h5>
        </a>
        <a href="/listing/Tiny homes/filter">
            <i class="ri-building-2-line"></i>
            <h5>Tiny homes</h5>
        </a>
        <a href="/listing/Bed & breakfasts/filter">
            <i class="ri-restaurant-fill"></i>
            <h5>Bed & breakfasts</h5>
        </a>
        <a href="/listing/Games/filter">
            <i class="ri-basketball-line"></i>
            <h5>Games</h5>
        </a>
        
    </div>
</div>