
<footer class="d-flex flex-wrap justify-content-between align-items-center py-2 navbar-light bg-light border-top float-bottom mt-3">
    <p class="col-md-4 mb-0 text-body-secondary">© 2024 Airbnb Private Limited</p>

    <a href="/listing" class="col-md-4 d-flex align-items-center justify-content-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <i class="logo ri-home-smile-2-line"></i>
    </a>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="f-logo ri-twitter-x-fill"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="f-logo ri-instagram-fill"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="f-logo ri-facebook-fill"></i></a></li>
    </ul>
</footer>
